#header-div {
	background: #3C7DB9; border-bottom: #fff 1px solid
}
#logo-div {
	float: left; height: 50px
}
#submenu-div {
	height: 50px
}
#submenu-div ul {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px; list-style-type: none
}
#submenu-div li {
	padding-right: 10px; padding-left: 10px; float: right; padding-bottom: 0px; margin: 3px 0px; border-left: #fff 1px solid; padding-top: 0px
}
#submenu-div a:visited {
	color: #fff; text-decoration: none
}
#submenu-div a:link {
	color: #fff; text-decoration: none
}
#submenu-div a:hover {
	color: #f5c29a
}
#loading-div {
	clear: right; display: block; text-align: right
}
#menu-div {
	background: #9DC3E7; line-height: 0px; height: 24px
}
#menu-div ul {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px; list-style-type: none
}
#menu-div li {
	border-right: #192e32 1px solid; float: left; border-left: #DDF0FE 1px solid
}
#menu-div a:visited {
	padding-right: 20px; display: block; padding-left: 20px; background: #9ccbd6; padding-bottom: 0px; color: #3377B6; padding-top: 0px; text-decoration: none
}
#menu-div a:link {
	padding-right: 20px; display: block; padding-left: 20px; background: #9ccbd6; padding-bottom: 0px; color: #3377B6; padding-top: 0px; text-decoration: none
}
#menu-div a:hover {
	background: #9DC3E7; color: #000
}
#submenu-div a.fix-submenu {
	clear: both; padding-right: 5px; padding-left: 5px; background: #ddeef2; padding-bottom: 5px; margin-left: 5px; color: #3C7DB9; padding-top: 3px
}
#submenu-div a.fix-submenu:hover {
	padding-right: 5px; padding-left: 5px; background: #fff; padding-bottom: 5px; color: #3C7DB9; padding-top: 3px
}
#menu-div li.fix-spacel {
	width: 30px; border-left-style: none
}
#menu-div li.fix-spacer {
	border-right-style: none
}
img{border:none;}