#set($layout = "layout/default.vm")
#set($title = "管理中心 - 订单退货详情")


<body>
<div class="main">
	<h2>管理中心 - 订单退货详情</h2>
	
	#if($error)
		<div class="mag-t1">$error</div>
	#end
	#if($success)
		<div class="mag-t2">$success</div>
	#end

	<form action="refundGoods.html" name="searchForm" id="searchForm" method="post">
		<input type="hidden" name="tid" value="$!trade.tid"/>
		<div class="formBox">
			<h3><i></i><span>订单信息</span></h3>
			<div class="content">
				<table class="c6">
					<tr>
						<th>订单号：</th>
						<td>$!trade.tid</td>
						<th>订单金额：</th>
						<td>￥$!moneyUtil.getFormatMoney($math.add($trade.goodsAmount, $trade.shippingAmount), '0.00') 元</td>
					</tr>
					<tr>
						<th>订单状态：</th>
						<td>$!enumTradeStatusMap.get("$!trade.status")</td>
						<th>支付状态：</th>
						<td>#if("$trade.payStatus"=="no_pay") 未付款 #elseif("$trade.payStatus"=="paid") 已付款 #end</td>
					</tr>
					<tr>
						<th>下单时间：</th>
						<td>$!dateUtil.convertDateToString("yyyy-MM-dd HH:mm:ss", $!trade.gmtCreate)</td>
						<th>支付时间：</th>
						<td>$!dateUtil.convertDateToString("yyyy-MM-dd HH:mm:ss", $!trade.payTime)</td>
					</tr>
					<tr>
						<th>使用积分：</th>
						<td>$!trade.userPoint</td>
						<th>赠送积分：</th>
						<td>$!trade.sendPoint</td>
					</tr>
					<tr>
						<th>实付金额：</th>
						<td>￥$!moneyUtil.getFormatMoney($!trade.amount, '0.00') 元 </td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
		
		<div class="listBox" style="margin-top:10px;">
			<h3><span>商品列表</span></h3>
			<table>
				<tr>
					<th>商品名称</th>
					<th>编码</th>
					<th>选购属性</th>
					<th>价格</th>
					<th>订单数量</th>
					<th>可退数量</th>
					<th>退货数量</th>
					<th>应退款</th>
					<th>实退款</th>
				</tr>
				#set($goodsPriceAcount =0)
				#set($marketPriceAcount = 0)
				#foreach($order in $orderList)
					#set($goodsAcount = $moneyUtil.mul($order.goodsNumber, $order.goodsPrice))
					#set($goodsPriceAcount = $moneyUtil.add($goodsPriceAcount, $goodsAcount))
					#set($marketPriceAcount = $moneyUtil.add($marketPriceAcount, $moneyUtil.mul($order.goodsNumber, $order.marketPrice)))
					<tr #if($velocityCount % 2 == 0) class="bg" #end>
						<td>
							<input type="hidden" name="orderIdText" value="$!order.id"/>
                            <a href="${liangpin99Server}/l/gdetail_$!{order.goodsId}.htm" target="_blank" class="f6">$!order.goodsTitle</a>
						</td>
						<td>$!order.goodsSn</td>
						<td>$!order.buyAttr</td>
						<td>￥$!moneyUtil.getFormatMoney($!order.goodsPrice,'0.00')元</td>
						<td>$!order.goodsNumber</td>
						<td>$!orderMap.get("$!order.id")</td>
						#set($canRefAmount=$!orderMap.get("$!order.id"))
						<td>
							<input type="hidden" name="goodsText" value="$!canRefAmount"/>
							<input name="ordersNumberText" id="ordersNumberText$order.Id" type="text" value="0" size="5" onchange="multipyPrice('$order.Id','$order.goodsPrice');"/>(件|个)
						</td>
						<td id="dueFee$order.Id">￥$!moneyUtil.getFormatMoney($math.mul($order.goodsPrice, 0), '0.00') 元</td>
						<input name="dueFee" id= "dueFeeText$order.Id" type="hidden" value="$!moneyUtil.getFormatMoney($math.mul($order.goodsPrice, 0), '0.00')"/>
						<td>￥<input name="factFee" id="factFee$order.Id" type="text" value="$!moneyUtil.getFormatMoney($math.mul($order.goodsPrice, 0), '0.00')" size="8"/> 元</td>
					</tr>
				#end
			</table>
        </div>

		#if($!packageMap.size() > 0)
			<div class="listBox" style="margin-top:10px;">
				<h3><span>套餐列表</span></h3>
				<table>
					<tr>
						<td>套餐名称</td>
						<td>商品[选购属性]</td>
						<td>合计价</td>
						<td>套餐价</td>
						<td>套餐数量</td>
						<td>本套餐合计</td>
					</tr>
					#foreach($packages in $!packageMap.entrySet())
						<tr>
							<td>$!packages.key.name</td>
							<td>
								#set($orderpackages=$!packages.value)
								#foreach($orderpackage in $orderpackages)
									<a href="$!{liangpin99Server}/l/gdetail_$!{orderpackage.goodsId}.htm" target="_blank">$stringUtil.abbreviate($!{orderpackage.goodsTitle},15)</a>
									&nbsp;&nbsp; $!orderpackage.goodsSn&nbsp;
									#if("$!{orderpackage.buyAttr}"!="")
										[$!orderpackage.buyAttr]
									#end
									<br/>
								#end
							</td>
							<td>￥$!moneyUtil.getFormatMoney($!packages.key.goodsAmount,'0.00')元</td>
							<td>￥$!moneyUtil.getFormatMoney($!packages.key.packageAmount,'0.00')元</td>
							<td>$!packages.key.number 个</td>
							<td>￥$!moneyUtil.getFormatMoney($math.mul($!packages.key.packageAmount,$!packages.key.number),'0.00')元</td>
						</tr>
						#set($packageAcount = $moneyUtil.mul($packages.key.packageAmount, $packages.key.number))
						#set($goodsPriceAcount = $moneyUtil.add($goodsPriceAcount, $packageAcount))
					#end
				</table>
			</div>
		#end
		
		<div class="formBox">
			<div class="content">
				<table class="c6">
					<tr>
						<th>商品总价： </th>
						<td>￥$!moneyUtil.getFormatMoney($!goodsPriceAcount,'0.00') 元 </td>
						<th>实际交易总金额：</th>
						<td>￥$!moneyUtil.getFormatMoney($math.add($trade.goodsAmount, $trade.shippingAmount), '0.00') 元</td>
						<th>退货原因：</th>
						<td><textarea name="remark" id="remarkText" rows="3" cols="20"></textarea></td>
					    <td><input type="button" id="button$order.Id" value="确定退货" onclick="modifyOrderNumber($!trade.tid);"/></td>
					</tr>
				</table>
			</div>
		</div>

		#if($!refsList.size() > 0)
			<div class="listBox" style="margin-top:10px;">
				<h3><span>退货列表</span></h3>
				<table>
					<tr>
						<th>用户名</th>
						<th>申请编号</th>
						<th>订单编号</th>
						<th>状态</th>
						<th>类型</th>
						<th>申请时间</th>
						<th>操作员</th>
					</tr>
					#foreach($refund in ${refsList})
						<tr #if($velocityCount % 2 == 0) class="bg" #end>
							<td>$!{refund.buyNick}</td>
							<td><a href="$!appServer.get("/trade/confirmRefund.html?id=$!refund.id&detail=yes")" target="_blank">$!{refund.refundId}</a></td>
							<td>$!{refund.tid}</td>
							<td>$!enumRefundStatusMap.get($refund.status)</td>
							<td>$!enumRefundTypeMap.get($refund.type)</td>
							<td>$!dateUtil.convertDateToString("yyyy-MM-dd HH:mm:ss",$!refund.gmtCreate)</td>
							<td>$!refund.creater</td>
						</tr>
					#end                
				</table>
            </div>
		#end
    </form>

</div>
</body>

<script>
function modifyOrderNumber(tid) {
	var ordersNumbers=document.getElementsByName("ordersNumberText");
	var dueFees1=document.getElementsByName("dueFee");
	var factFees1=document.getElementsByName("factFee");
	var orderIds=document.getElementsByName("orderIdText");
	var goods=document.getElementsByName("goodsText");
	var remarkMemo=document.getElementById('remarkText').value;

	var orderNumberList = new Array();
	var orderIdList = new Array();
	var dueFees = new Array();
	var factFees = new Array();

    //验证
    for(var i=0;i<ordersNumbers.length;i++){
		if(!validates(ordersNumbers[i],goods[i].value)){
			return false;
		}
		
		orderNumberList[i]=ordersNumbers[i].value;
		orderIdList[i]=orderIds[i].value;
		dueFees[i]=dueFees1[i].value;
		factFees[i]=factFees1[i].value;

	}
	
	if(remarkMemo==null||remarkMemo==""){
		alert("出错：请填写换货原因.");
		return false;
	}
	
	if(remarkMemo.length>400){
        alert('输入的备注超长，不能超过400个字');
        return false;
    }
	document.getElementById('searchForm').submit();
}

function multipyPrice(orderId,goodsPrice){
    var goodsNum =document.getElementById('ordersNumberText'+orderId).value;
    document.getElementById('dueFee'+orderId).innerHTML='￥'+(goodsPrice*10000*goodsNum/10000).toFixed(2)+'元';
    document.getElementById('factFee'+orderId).value=(goodsPrice*10000*goodsNum/10000).toFixed(2);
    document.getElementById('dueFeeText'+orderId).value=(goodsPrice*10000*goodsNum/10000).toFixed(2);
}


function validates(ordersNumber,goodsNum){
	var reg=/^[0-9]+[0-9]*]*$/;

	if(!reg.test(ordersNumber.value)){
		alert("请输入整数！");
		jQuery(ordersNumber).focus();
		return false;
	}

	if(parseInt(ordersNumber.value)<0){
		alert("数量不能小于0");
		jQuery(ordersNumber).focus();
		return false;
	}

	if(parseInt(ordersNumber.value)>goodsNum){
		alert("数量不能大于"+goodsNum);
		jQuery(ordersNumber).focus();
		return false;
	}
	return true;
}

function showResult2(msg){
	if(msg=="success"){
		alert("操作成功！");
	}else{
		alert("操作失败!"+toHTML.un(msg));
	}
}
</script>
