#set($layout = "layout/default.vm")
<head>
  #set($title = "尚上后台管理系统")
<script type="text/javascript"> 
function check()
{
	return true;
}
</script>

<style type="text/css">
.red{color:red}
</style>
</head>

	<div class="main" align="center">
		<table border="1"  align="center">
			<tr>
				<th width="96">尚上价</th>
				<th width="96">欧洲价</th>
				<th width="96">入库时间</th>
			</tr>
		
		#foreach($!map in $!changeMap.entrySet())
				<tr>
					<td width="96"> $!map.value.get("hkPrice")</td>
					<td width="96"> $!map.value.get("euPrice")</td>
					<td width="96"> $!map.value.get("inStorage")</td>
				</tr>
	    #end
			
			
		</table>
		
    </div>		 