#set($layout = "")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>位置</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <script type="text/javascript" src="/front/scripts/miniui3/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="/front/scripts/miniui3/miniui/miniui.js"></script>
        <link type="text/css" rel="stylesheet" href="/front/scripts/miniui3/miniui/themes/default/miniui.css">
            <link type="text/css" rel="stylesheet" href="/front/scripts/miniui3/miniui/themes/icons.css">
</head>
#set($chooseManager = false)
 #if($!adminAccess.has('A_CUSTOMER_MANAGER_CHOOSEMANAGER'))
	#set($chooseManager = true)
 #end
<body>
    <div id="form1"  style="margin-left:100px">
        <table>
            <tr>
                <td>
                    <label>位置：</label>
                </td>
                <td>
                    <input name="idSite" id="idSite"  class="mini-combobox"   style="width:100px" textField="name" valueField="id" emptyText="请选择..."
                        url="/site/getSiteByType.html?type=1,4" required="true" allowInput="false"/>  
                </td>
            </tr>
            <tr>
				<td>
					<label>选择客户：</label>
                </td>
                <td>
                  <input id="customerShow" name="customerShow" allowInput="false" style="width:150px"  class="mini-buttonedit"   emptyText="请选择..."  onbuttonclick="onButtonEdit" selectOnFocus="true" />
                </td>
            </tr>
			<tr>
				<td>
					<label>备注：</label>
                </td>
				<td>
					 <input id="remark" name="remark" style="width:120px" class="mini-textarea"   />
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp; <a class="mini-button" iconCls="icon-ok" onclick="submit()">提交</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    <a class="mini-button" iconCls="icon-close" onclick="CloseWindow('close')">取消</a>
                </td>
            </tr>
        </table>
    </div>
    <script type="text/javascript">
        var data; //保存页面传过来的开单数据 [{idproduct:price}]
        function SetData(data1) {
        //跨页面传递的数据对象，克隆后才可以安全使用
        data = mini.clone(data1);
        }
        function submit()
        {
        var form = new mini.Form("#form1");
        form.validate();
        if(form.isValid() == false) return;
        var formData = form.getData();//form表单填写的数据
        var productRequestStr = "";//产品和站点
        var idSite = mini.get("idSite").getValue();
        var siteName = mini.get("idSite").getText();
		var customer = mini.get("customerShow").getValue();
		var remark = mini.get("remark").getValue();
        for(var i = 0; i < data.length;i++)
            {
            var row = data[i];
            var idProduct = row.idProduct;
            var curSiteName = row.curSiteName;
            productRequestStr += idProduct+":"+idSite+":"+curSiteName+";";	
            }
            if(productRequestStr == ""){mini.alert("没有产品数据！");return;}
            formData.idProductAndSite = productRequestStr;
            mini.confirm("全部调到"+siteName, "提示", function(result)
            {
            if(result == 'ok')
            {
            mini.mask({
            el: document.body,
            cls: 'mini-mask-loading',
            html: '提交中,请勿关闭...'
            });
            jQuery.post("/shoppingCar/diaohuoChuku.html",formData,function(text)
            {
            mini.unmask(document.body);
            if("ok" == text)
            {
            CloseWindow('close');
            }
            else
            {
            mini.alert("提交出错,联系管理员");
            }
            });
            }
            });
            }
            function CloseWindow(action) 
            {            
            if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
            else window.close();            
            }
			
	function onButtonEdit()
	{
		mini.open({
            url: "/customer/toSearchCustomer.html",
            title: "选择客户",
            width: 700,
            height: 300,
            onload: function() {
                 var iframe = this.getIFrameEl();
             	 iframe.contentWindow.setData();
            },
            ondestroy: function(action) {
               var iframe = this.getIFrameEl();
               var data = iframe.contentWindow.getData(data);
			   data = mini.clone(data);
			   if(data)
			   {
			   		mini.get("customerShow").setText(data.name);
					mini.get("customerShow").setValue(data.idCustomer);
				 
			   }
            }
        });
	}
</script>
</body>
</html>
