#set($layout = 'layout\default.vm')
<head>
  #set($title = "尚上后台管理系统")
</head>
<div class="main">

<h2>代销会员销售查询</h2>
        <!-- 搜索模块 -->
<div class="searchBox">
    <h3><span>代销会员销售查询</span></h3>
  <form action="searchAgentTrade.html" name="searchForm" method="post" id="searchForm">
  <table>
  <tr>
    <th>会员昵称：</th>
	<td>
	#springBind("agentTrade.userNick")
	<input  type="text" name="${status.expression}"  value="$!{status.value}" id="userNick" size="10"/></td>
    <th>商品编码：</th>
			<td>
				#springBind("agentTrade.goodCode")
			<input  type="text" name="${status.expression}"  value="$!{status.value}" id="goodCode" size="10"/></td>
<th>产品编码：</th>
					<td>
									#springBind("agentTrade.code")
					<input  type="text" name="${status.expression}"  value="$!{status.value}" id="code" size="10"/></td>
					<th>商品名称：</th>
									<td>
																								#springBind("agentTrade.goodName")
																													<input  type="text" name="${status.expression}"  value="$!{status.value}" id="goodName" size="10"/>
</td>

    		</tr>


		<tr>
<th>订单状态：</th>
							<td>
																						#springBind("agentTrade.status")
<select name="${status.expression}">
		<option value="" #if($!{status.value}=="") selected #end>-=请选择=-</option>
		<option value="init" #if($!{status.value}=="init") selected #end>新建</option>
		<option value="success" #if($!{status.value}=="success") selected #end>完成</option>
				<option value="close" #if($!{status.value}=="close") selected #end>关闭</option>
		</select>
</td>
<th>拓展人员：</th>
						<td>
															#springBind("agentTrade.agentManagerId")
						<select name="${status.expression}" id="agentManagerId">
        <option value="">全 部</option>
		#foreach($user in $users)
			  <option value="$!user.id" #if("$!{status.value}"=="$!user.id") selected #end>$!{user.userName}</option>
		#end
    </select>
	</td>
	<th>排 序：</th>
	<td>
	#springBind("agentTrade.sortType")
        <select name="${status.expression}">
		<option value="0" #if($!{status.value}=="0") selected #end>订单编号</option>
		<option value="1" #if($!{status.value}=="1") selected #end>商品名称</option>
		</select>

						</td>
		<th>&nbsp;<th>
		<td>&nbsp;</td>
		<th>&nbsp;</th>
		<td>&nbsp;</td>
				</tr><tr>
<th>创建日期：</th>
											<td>
											#springBind("agentTrade.gmtCreateStart")
											<input name="${status.expression}"  id="gmtCreateStart" value="$!{status.value}"  size="6" readonly="true"/>到
			#springBind("agentTrade.gmtCreateEnd")
			<input  name="${status.expression}" id="gmtCreateEnd" value="$!{status.value}"   size="6" readonly="true"/>
			</td>

		<script type="text/javascript">
		      Calendar.setup({
		          inputField : "gmtCreateStart",
		          ifFormat   : "%Y-%m-%d",
		          align      : "BR"
		      });
		      Calendar.setup({
		          inputField : "gmtCreateEnd",
		          ifFormat   : "%Y-%m-%d",
		          align      : "BR"
		      });
		</script>

				<th>&nbsp;</th>
		<td>
	<input name="chaxun" value="查询" class="button" type="button" onclick="return sumbitForm();" />
	<input type="button" value="Excel导出" class="button" onclick="doExportOrder();"/>		</td>
<script language="javascript" type="text/javascript">

function sumbitForm(){
        var dateStart=document.getElementById("gmtCreateStart").value.replace(/-/g, "/");
        var dateEnd=document.getElementById("gmtCreateEnd").value.replace(/-/g, "/");
        var b_date=new Date(Date.parse(dateStart));
        var e_date=new Date(Date.parse(dateEnd));
        if(e_date < b_date){
            alert("起始时间不能大于结束时间！");
            return false;
        }
        document.getElementById("gmtCreateStart").value=document.getElementById("gmtCreateStart").value.trim();
        document.getElementById("gmtCreateEnd").value=document.getElementById("gmtCreateEnd").value.trim();
document.getElementById("goodCode").value=document.getElementById("goodCode").value.trim();
document.getElementById("code").value=document.getElementById("code").value.trim();
document.getElementById("goodName").value=document.getElementById("goodName").value.trim();
        document.searchForm.submit();
    }


</script>
		<th>&nbsp;</th>
		<td>&nbsp;</td>
		<th>&nbsp;</th>
		<td>&nbsp;</td>
		</tr>
</table>
 </form>
</div>
<div class="clearing"></div>
#if($!message)<div class="mag-t2"> $!message </div>#end

	<div align="right"><font size='4'><strong><label>【 汇总: </label></strong></font><font size='4' color="red"><strong>
        <label>$query.totalItem</label></strong></font><font size='4'><strong><label>笔&nbsp;&nbsp;&nbsp;总金额:
        </label></strong></font><font size='4' color="red"><strong><label>$totalAmountPage</label>
        </strong></font><font size='4'><strong><label>元 】</label></strong></font>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
    <div class="listBox">
          <h3><span>代销会员销售列表</span></h3>
    <table>
      <tr>
         <th>会员昵称</th>
                <th>订单编号</th>
				<th>商品编码</th>
                <th>商品名称</th>
				<th>拓展人员</th>
                <th>销售总数</th>
                <th>销售总价</th>
                <th>创建时间</th>
				<th>完成时间</th>
                <th>订单状态</th>
                <!--<th>返券状态</th> -->
            </tr>
            #foreach($agent in $query.items)
        	<tr #if($velocityCount%2==0) class="bg" #end>
        					<td>$agent.userNick</td>
				<td>$agent.tid</td>
				<td>$agent.goodsSn</td>
                <td>$agent.goodsName</td>
				<td>$agent.agentManagerName</td>
                <td align="center">$agent.totalAmount</td>
				<td align="center">￥$!moneyUtil.getFormatMoney($agent.totalPrice,'0.00')</td>
								<td>$!dateUtil.convertDateToString('yyyy-MM-dd HH:mm:ss',${agent.gmtCreate})</td>
				<td>$!dateUtil.convertDateToString('yyyy-MM-dd HH:mm:ss',${agent.gmtTradeFinish})</td>
				<td align="center">#if($agent.status=="init")新建#elseif($agent.status=="success")完成#elseif($agent.status=="close")关闭#end</td>
				<!--<td align="center">#if($agent.isReceive=="y")已返券#end#if($agent.isReceive=="n")未返券#end</td> -->
            </tr>
            #end

    </table>
    </form>
    <!-- 分页 -->
   <div class="pages-box" >
	#if($query.items.size()>0)
		$contain.get('/contain/formPageSlider.html').put('slider_query',$query).put('slider_target',"/agent/searchAgentTrade.html").put('slider_path','/contain/formPagingPageSlider').put("slider_width",3)
    #else
		没有结果！
    #end
    </div>
  </div>

</div>
<script language="javascript" type="text/javascript">
	String.prototype.trim = function() {
	// 用正则表达式将前后空格
	// 用空字符串替代。
	return this.replace(/(^\s*)|(\s*$)/g, "");
	}
	function doExportOrder(){
		var form1=document.getElementById('searchForm');
		form1.action="agentExportOrder.html";
		form1.submit();
		form1.action="searchAgentTrade.html";
	}
</script>

