@charset "utf-8";
.shield_div{
	position :absolute;
	left :0px;
	top :0px;
	background :#C0DBF8;
	filter:alpha(opacity=50);
	opacity:0.5;
	text-align :center;
	z-Index :10000;
	}
.iframe{
	position :absolute;
	left :0px;
	top :0px;
	width : 100%;
	height : 100%;
	background :#C0DBF8;
	filter:alpha(opacity=0);
	opacity:0;
	z-Index :10001;
	}
.alert_div{
	position :absolute;
	left :50%;
	top :50%;
	width :450px;
	z-Index :10002;
	border:1px solid #C0DBF8;
	background:#FFF;
	}
.alert_div ul{
	margin:0px;
	padding:0px;
	width:100%;
	}

.alert_div .title{
background:url(../images/list.png) repeat-x;
border-bottom:1px solid #C0DBF8;
background-position:1px -92px;
margin:0px;
padding:0px;
}
.alert_div .title span{
	font-weight:bold;
	border:1px solid #fff;
	display:block;
	padding-left:20px;
	font-size:13px;
	color:#4c4c4c;
	line-height:30px;}

