#set($layout = 'layout\default.vm')
<head>
  #set($title = "尚上后台管理系统")
</head>
<div class="main">

<h2>类目销售汇总列表</h2>
        <!-- 搜索模块 -->
  <div class="searchBox">
    <h3><span>类目销售汇总</span></h3>
        <form action="searchCatSum.html" name="searchForm" id="searchForm" method="post">
    <table>


    <th> 商品类目：</th>
   <td>
                    <select name="catCode">
                                  <option  value="">-=请选择=-</option>
                    			  #set($i=0)
                    			  	  #foreach($category in $categorys)
                    					#if($category.depth==1)
                    						#set($i=$i+1)
                    					#end
                            				#if($parMap.catCode==$category.catCode)
                            					<option class="s" selected="selected" value="$category.catCode">


													#if($category.catCode.length()< 4)
                    								#elseif($category.catCode.length()< 8)
                    								&nbsp;&nbsp;&nbsp;&nbsp;
                    								#else
                    								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    								#end
                    								#if($category.catName.length()>12) $category.catName.substring(0,12)...#else $category.catName#end


                                                </option>
                            				#else
                            					<option  value="$category.catCode">#if($category.catCode.length()< 4)
                    								#elseif($category.catCode.length()< 8)
                    								&nbsp;&nbsp;&nbsp;&nbsp;
                    								#else
                    								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    								#end
                    								#if($category.catName.length()>12) $category.catName.substring(0,12)...#else $category.catName#end</option>
                    						#end
									  #end
                    </select></td>

    <th> 日期&nbsp;&nbsp;</th>
  												<td>

											<input name="dateStart"  id="dateStart" value="$!parMap.dateStart"  size="6" readonly="true"/>到

			<input  name="dateEnd" id="dateEnd" value="$!parMap.dateEnd"   size="6" readonly="true"/>
			</td>
<script type="text/javascript">
			      Calendar.setup({
			          inputField : "dateStart",
			          ifFormat   : "%Y-%m-%d",
			          align      : "BR"
			      });
			      Calendar.setup({
			          inputField : "dateEnd",
			          ifFormat   : "%Y-%m-%d",
			          align      : "BR"
			      });
			</script>
</tr>
<tr>
<th>&nbsp;</th>
<td>&nbsp;</td>

	<th><input name="chaxun" value="查询" class="button" type="button" onclick="formSubmit();"/>
	<input type="hidden" name="dosearch" id="dosearch" value="$!parMap.dosearch"></th>

<td>&nbsp;</td>
		<script language="javascript" type="text/javascript">
	String.prototype.trim = function() {
	// 用正则表达式将前后空格
	// 用空字符串替代。
	return this.replace(/(^\s*)|(\s*$)/g, "");
	}
		function formSubmit(){
			var dateStart=document.getElementById("dateStart").value.replace(/-/g, "/");
    		var dateEnd=document.getElementById("dateEnd").value.replace(/-/g, "/");
    		var b_date=new Date(Date.parse(dateStart));
            var e_date=new Date(Date.parse(dateEnd));
    		if(e_date < b_date){
    			alert("起始时间不能大于结束时间！");
    			return false;
    		}
	    	document.getElementById("dateStart").value=document.getElementById("dateStart").value.trim();
	    	document.getElementById("dateEnd").value=document.getElementById("dateEnd").value.trim();
	    	document.getElementById("dosearch").value='';
        		document.getElementById('searchForm').submit();
	    }
</script>

</table>
 </form>
</div>
<div class="clearing"></div>
		#if($!message)<div class="mag-t2"> $!message </div>#end
<div class="listBox">
          <h3><span>类目销售汇总列表</span></h3>

    <table>
    #foreach($member in $sumMap.entrySet())
		<div align="right">
			<font size='4'><strong><label>【 销售总量: </label></strong></font>
			<font size='4' color='red'><strong><label>${member.value.saleNum}</label></strong></font>
			<font size='4'><strong><label>&nbsp;&nbsp;&nbsp;销售总金额: </label></strong></font>
			<font size='4' color='red'><strong><label>$!moneyUtil.getFormatMoney(${member.value.salePrice})</label></strong></font>
			<font size='4'><strong><label>元 </label></strong></font>
			<font size='4'><strong><label>&nbsp;&nbsp;&nbsp;销售总成本: </label></strong></font>
			<font size='4' color="red"><strong><label>$!moneyUtil.getFormatMoney($member.value.goodsInPrice)</label></strong></font>
			<font size='4'><strong><label>元 】</label></strong></font>
		</div>
     #end
      <tr>
		<th>类目</th>
        <th>销量</th>
        <th>销售成本</th>
        <th>销售额</th>
		<th>毛利</th>
		<th>毛利率</th>
      </tr>
	  #foreach($catSalesGood in $query.items)
	  <tr    #if($velocityCount%2==0) class="bg" #end>
		 <td  align="left">$!catSalesGood.catName</td>
		 <td  align="center">$!catSalesGood.saleSum</td>
		 <td  align="center">$!catSalesGood.inPrice</td>
		 <td  align="center">$!catSalesGood.outPrice</td>
		 <td  align="center">$!catSalesGood.profit</td>
		 <td  align="center">$!catSalesGood.profitPer %</td>
	</tr>
	  #end

    </table>
    <!-- 分页 -->
				<div class="pages-box" >
	#if($query.items.size()>0)
		$contain.get('/contain/formPageSlider.html').put('slider_query',$query).put('slider_target',"/statistics/searchCatSum.html").put('slider_path','/contain/formPagingPageSlider').put("slider_width",3)
    #else
		没有结果！
    #end
    </div>

  </div>

</div>
<script language="javascript" type="text/javascript">
	String.prototype.trim = function() {
	// 用正则表达式将前后空格
	// 用空字符串替代。
	return this.replace(/(^\s*)|(\s*$)/g, "");
	}
</script>

