#set($layout = "layout/default.vm")
<div class="main">
	<h2>管理中心 - 仓库管理</h2>
	<div class="searchBox">
		<h3><span>库存盘点查询</span></h3>
		<form action="/storage/list_storage_check.html" name="searchForm" method="post">
			<table>
				<tr>
          #springBind("storageCheckQuery.depfirstId")
		  <th>一级仓库：</th>
			<td>
    			<select name="${status.expression}" id="depFirstId" onchange="selectDep(this.value);" class="select">
					#if($depositoryFirstList.size() > 1 )
					<option value="">-=请选择=-</option>
					#end
					#foreach($depfirst in $depositoryFirstList)
    				<option value="$depfirst.id" #if("$depfirst.id"=="${status.value}") selected #end>$depfirst.depFirstName</option>
    				#end
    			</select>
            </td>
		#springBind("storageCheckQuery.depId")
         <th>仓库：</th>
			<td>
    			<select name="${status.expression}" id="depId" onchange="selectLoc(this.value);" class="select">
    				<option value="">-=请选择=-</option>
					#foreach($st in $depositoryList)
    				<option value="$st.id" #if("$st.id"=="${status.value}") selected #end>$st.name</option>
    				#end
    			</select>
			</td>
		#springBind("storageCheckQuery.locId")
		<th id="labelLoc">库位 ：</th>
			<td>
		        <select name="${status.expression}" id="locId" class="select">
                     <option value="">-=请选择=-</option>
                     #foreach($depLocation in $depLocationLists)
                     <option value="$!{depLocation.id}" #if("$!{depLocation.id}"=="${status.value}") selected #end>$!{depLocation.locName}</option>
                    #end
                 </select>
		</td>
                </tr>
				<tr>
					<th>
						盘点日期：
                    </th>
					<td>
						#springBind("storageCheckQuery.dateStart")
					<input type="text" id="dateStart" name="${status.expression}" value="$!{status.value}" size="10" readonly="true"/>
					-
						#springBind("storageCheckQuery.dateEnd")
					<input type="text" id="dateEnd" name="${status.expression}" value="$!{status.value}" size="10" readonly="true"/>
        			  <script type="text/javascript">
        			      Calendar.setup({
        			          inputField : "dateStart",
        			          ifFormat   : "%Y-%m-%d",
        			          align      : "BR"
        			      });
        			      Calendar.setup({
        			          inputField : "dateEnd",
        			          ifFormat   : "%Y-%m-%d",
        			          align      : "BR"
        			      });
        			</script>
					</td>
					<th>
						<input name="search" value=" 查询 " class="btn" type="button" onclick="return sumbitForm();" />
					</th>
				</tr>
			</table>
		</form>
    </div>
<!-- 功能列表 -->
#if($!adminAccess.has('A_STORAGE_CHECK_ADD_USER'))
	<div class="tool">
        <span><a href="$appServer.get('/storage/add_storage_check.html')" hidefocus="true" class="bt_add">新增盘点</a></span>
    </div>
#end
<!-- 盘点记录列表 -->
	<div class="listBox" id="listDiv">
		<h3><span>库存盘点列表</span></h3>
    <table  id="listTable" name="listTable">
      <tr>
        <th>编号</th>
        <th>类型</th>
        <th>一级仓库</th>
        <th>名称</th>
        <th>状态</th>
        <th>操作人</th>
        <th>盘点时间</th>
        <th>操作</th>
      </tr>
	#if($query && $query.items.size()>0)
	  #foreach($storageCheck in $query.items)
	  <tr #if($velocityCount%2==0) class="bg" #end>
		 <td  align="center">$!storageCheck.id</td>
		 <td  align="center">#if("d"==$!storageCheck.checkType)<font color="green">仓库盘存</font>#elseif("l"==$!storageCheck.checkType)<font color="blue">库位盘存</font>#end</td>
		 <td  align="center">$!storageCheck.depFirstName</td>
		 <td  align="center">#if("d"==$!storageCheck.checkType)$!storageCheck.depName#elseif("l"==$!storageCheck.checkType)$!storageCheck.locName#end</td>
		 <td  align="center">
			#if("s"==$!storageCheck.status||"d"==$!storageCheck.status)
				<font color="red">正在盘存</font>
			#elseif("f"==$!storageCheck.status)
				<font color="gray">盘存完毕</font>
			#end
		 </td>
		 <td  align="center">$!storageCheck.creater</td>
		 <td  align="center">$!dateUtil.convertDateToString('yyyy-MM-dd HH:mm',$!storageCheck.gmtCreate)</td>
		 <td  align="center">
			<a href="/storage/view_storage_check.html?checkId=$!storageCheck.id">盘点清单</a>
			<a href="/storage/detail_storage_check.html?checkId=$!storageCheck.id">盘点明细</a>
			 #if($!adminAccess.has('A_STORAGE_VIEW_USER'))
				#if("f"==$!storageCheck.status)
					<a href="/storage/export_storage_check.html?checkId=$!storageCheck.id">库存结果</a>
				#end
			#end
		 </td>
	  </tr>
	  #end
	#end
    </table>
    <!-- 分页 -->
    #if($query.items.size()>0)
		$contain.get('/contain/formPageSlider.html').put('slider_query',$query).put('slider_target',"/storage/list_storage_check.html").put('slider_path','/contain/formPagingPageSlider').put("slider_width",3)
    #else
		没有结果！
    #end
  </div>
<script language="javascript" type="text/javascript">
	function sumbitForm(){
          var dateStart=jQuery.trim(document.getElementById("dateStart").value);
		  var dateEnd=jQuery.trim(document.getElementById("dateEnd").value);
    	  var b_date=new Date(Date.parse(dateStart));
          var e_date=new Date(Date.parse(dateEnd));
    		if(e_date < b_date){
    		    alert("开始日期小于结束日期!");
    			return false;
    		}
    	document.searchForm.submit();
    }

window.onload=function(){
	   var obj3 = document.getElementById("depFirstId");
	   var obj = document.getElementById("depId");
	   var objloc = document.getElementById("labelLoc");
	   var obj2 = document.getElementById("locId");
	#if($!depositoryFirstList)
	 #if($!depositoryFirstList.size()==0)
       var length3 = obj3.length3 = 0;
	   obj3.options[length3++] = new Option("您没有权限", "");
	 #else
	   obj.style.display='';
	   obj2.style.display='';

	   if(obj.value == ""&& obj3.value != ""){
	   var length = obj.length = 0;
       obj.options[length++] = new Option("-=请选择=-", "");
		var code = obj3.value;
		   jQuery.post('$appServer/storage/selectDep.html',{param:code},function(selectdeplist){
		   var list=selectdeplist;
		   if(list != null){
		   	 for(var i=0;i<list.length;i++){
    		     var dep=list[i];
    			 obj.options[length++] = new Option(dep.name, dep.id);
    		    }
    		   }
		   });
       }

	  #end
    #else
	   var length3 = obj3.length3 = 0;
	   obj3.options[length3++] = new Option("您没有权限", "");
    #end
	 }

function selectDep(code){
    var obj = document.getElementById("depId");
	var obj2 = document.getElementById("locId");
	var objloc = document.getElementById("labelLoc");
	var length = obj.length = 0;

		obj.style.display='';
		obj2.style.display='';

		obj.options[length++] = new Option("-=请选择=-", "");
		jQuery.post('$appServer/storage/selectDep.html',{param:code},function(selectdeplist){
		   var list=selectdeplist;
		   if(list != null){
    		   for(var i=0;i<list.length;i++){
    		     var dep=list[i];
    			 obj.options[length++] = new Option(dep.name, dep.id);
    		   	}
    		  }
			});

	    var obj2 = document.getElementById("locId");
    	var length2 = obj2.length = 0;
    	obj2.options[length2] = new Option("-=请选择=-", "");
}

function selectLoc(code){
    var obj = document.getElementById("locId");
	var length = obj.length = 0;
	obj.options[length++] = new Option("-=请选择=-", "");
	jQuery.post('$appServer/storage/selectLoc.html',{param:code},function(selectloclist){
		   var list=selectloclist;
		   obj.style.display='';
		   if(list != null){
		   for(var i=0;i<list.length;i++){
		     var loc=list[i];
			 obj.options[length++] = new Option(loc.locName, loc.id);
		   }
		}});
}
</script>
</div>
