a:link {
	color: #36c; text-decoration: none
}
a:visited {
	color: #36c; text-decoration: none
}
a:hover {
	color: #f60; text-decoration: underline
}
a:active {
	color: #f60; text-decoration: underline
}
th {
	font-weight: 400; padding-right: 10px; padding-left: 4px; padding-bottom: 3px; padding-top: 4px; text-align: center
}
td {
	padding-right: 10px; padding-left: 4px; padding-bottom: 3px; padding-top: 4px
}
.large .shopping-cart {
	min-width: 950px; margin: 0px auto; width: 950px
}
.body button {
	border-right: #650513 3px double; padding-right: 20px; border-top: #95071b 3px double; display: inline-block; padding-left: 20px; background: url(../../images/button.gif) #95071b repeat-x -1px 0px; padding-bottom: 0px; vertical-align: baseline; overflow: visible; border-left: #95071b 3px double; cursor: pointer; color: #fff; line-height: 16px; padding-top: 0px; border-bottom: #650513 3px double; height: 26px; text-decoration: none; -moz-background-clip: padding; -o-background-clip: padding; -webkit-background-clip: padding; -khtml-background-clip: padding; background-clip: padding
}
.body a.button {
	border-right: #650513 3px double; padding-right: 20px; border-top: #95071b 3px double; display: inline-block; padding-left: 20px; background: url(../../images/button.gif) #95071b repeat-x -1px 0px; padding-bottom: 0px; vertical-align: baseline; overflow: visible; border-left: #95071b 3px double; cursor: pointer; color: #fff; line-height: 16px; padding-top: 0px; border-bottom: #650513 3px double; height: 26px; text-decoration: none; -moz-background-clip: padding; -o-background-clip: padding; -webkit-background-clip: padding; -khtml-background-clip: padding; background-clip: padding; padding-right: 21px; padding-left: 21px; padding-bottom: 0px; line-height: 22px; padding-top: 0px; height: 20px; _line-height: 20px
}
.body a.button:focus {
	-moz-outline-style: none
}
.body a.button:link {
	color: #fff; text-decoration: none
}
.body a.button:visited {
	color: #fff; text-decoration: none
}
.body a.button:hover {
	color: #ff0; text-decoration: none
}
.body a.button:active {
	color: #ff0; text-decoration: none
}
.body button:hover {
	border-right: #caab00 3px double; border-top: #caab00 3px double; border-left: #caab00 3px double; color: #ff0; border-bottom: #caab00 3px double; text-decoration: none
}
.body a.button:hover {
	border-right: #caab00 3px double; border-top: #caab00 3px double; border-left: #caab00 3px double; color: #ff0; border-bottom: #caab00 3px double; text-decoration: none
}
.body a.offwhite {
	border-right: #c8c8c8 3px double; border-top: #d8d8d8 3px double; background: url(../../images/button.gif) #fff repeat-x 0px -24px; border-left: #d8d8d8 3px double; color: #666! important; border-bottom: #c8c8c8 3px double
}
.body button.offwhite {
	border-right: #c8c8c8 3px double; border-top: #d8d8d8 3px double; background: url(../../images/button.gif) #fff repeat-x 0px -24px; border-left: #d8d8d8 3px double; color: #666! important; border-bottom: #c8c8c8 3px double
}
.body a.offwhite:hover {
	border-right: #b8a479 3px double; border-top: #d6c9ab 3px double; background: url(../../images/button.gif) #fff repeat-x 0px -25px; border-left: #d6c9ab 3px double; color: #666; border-bottom: #b8a479 3px double
}
.body button.offwhite:hover {
	border-right: #b8a479 3px double; border-top: #d6c9ab 3px double; background: url(../../images/button.gif) #fff repeat-x 0px -25px; border-left: #d6c9ab 3px double; color: #666; border-bottom: #b8a479 3px double
}
.cart A:link {
	TEXT-DECORATION: underline
}
.cart A:visited {
	TEXT-DECORATION: underline
}
.cart-table {
	WIDTH: 100%
}
.cart-table THEAD {
	HEIGHT: 25px
}
.cart-table THEAD TH {
	VERTICAL-ALIGN: bottom; OVERFLOW: hidden; BORDER-BOTTOM: #bea97c 2px solid; HEIGHT: 25px
}
.cart-table THEAD TH.th-7 {
	WIDTH: 45px
}
.cart-table TD {
	BORDER-RIGHT: #fff 1px solid; BORDER-BOTTOM: #ded4bb 1px solid
}
.cart-table .item TD {
	BACKGROUND-COLOR: #eee9df; TEXT-ALIGN: center
}
.cart-table .item TD.td-1 {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; WIDTH: 35px; PADDING-TOP: 0px
}
.cart-table .item TD.td-2 {
	FONT-WEIGHT: 700; FONT-SIZE: 14px; TEXT-ALIGN: left
}
.cart-table .item TD.td-2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 60px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.cart-table .item TD.td-2 IMG {
	BORDER-RIGHT: #e9e9e9 1px solid; BORDER-TOP: #e9e9e9 1px solid; FLOAT: left; MARGIN: 0px 0px 0px -50px; BORDER-LEFT: #e9e9e9 1px solid; BORDER-BOTTOM: #e9e9e9 1px solid
}
.cart-table .item TD.td-2 A:link {
	TEXT-DECORATION: none
}
.cart-table .item TD.td-2 A:visited {
	TEXT-DECORATION: none
}
.cart-table .item TD.td-2 SPAN {
	DISPLAY: block; FONT-WEIGHT: 400; FONT-SIZE: 12px; MARGIN: 2px 0px 0px; COLOR: #999
}
.cart-table .item TD.td-3 {
	WIDTH: 63px
}
.cart-table .item TD.td-3 EM {
	FONT-WEIGHT: 700; COLOR: #008000
}
.cart-table .item TD.td-4 {
	WIDTH: 95px
}
.cart-table .item TD.td-5 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; WIDTH: 60px; PADDING-TOP: 0px
}
.cart-table .item TD.td-5 A {
	DISPLAY: block; FONT-SIZE: 12px; BACKGROUND: #fff; FLOAT: left; MARGIN: 5px 0px 0px; WIDTH: 9px; LINE-HEIGHT: 9px; FONT-FAMILY: Arial; HEIGHT: 9px; TEXT-ALIGN: center
}
.cart-table .item TD.td-5 A:link {
	BORDER-RIGHT: #dbdbdb 1px solid; BORDER-TOP: #dbdbdb 1px solid; BORDER-LEFT: #dbdbdb 1px solid; COLOR: #555; BORDER-BOTTOM: #dbdbdb 1px solid; TEXT-DECORATION: none
}
.cart-table .item TD.td-5 A:visited {
	BORDER-RIGHT: #dbdbdb 1px solid; BORDER-TOP: #dbdbdb 1px solid; BORDER-LEFT: #dbdbdb 1px solid; COLOR: #555; BORDER-BOTTOM: #dbdbdb 1px solid; TEXT-DECORATION: none
}
.cart-table .item TD.td-5 A:hover {
	BORDER-RIGHT: #f60 1px solid; BORDER-TOP: #f60 1px solid; BORDER-LEFT: #f60 1px solid; BORDER-BOTTOM: #f60 1px solid; TEXT-DECORATION: none
}
.cart-table .item TD.td-5 A:active {
	BORDER-RIGHT: #f60 1px solid; BORDER-TOP: #f60 1px solid; BORDER-LEFT: #f60 1px solid; BORDER-BOTTOM: #f60 1px solid; TEXT-DECORATION: none
}
.cart-table .item TD.td-5 INPUT {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 5px; WIDTH: 20px; PADDING-TOP: 1px; TEXT-ALIGN: right
}
.cart-table .item TD.td-6 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 95px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
.cart-table .item TD.td-6 EM {
	FONT-WEIGHT: 700; COLOR: #c00
}
.cart-table .article TD.td-7 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; WIDTH: 30px; PADDING-TOP: 0px
}
.cart-table .tf-1 UL LI {
	MARGIN-BOTTOM: 5px
}
.cart-table .tf-2 UL LI {
	MARGIN-BOTTOM: 5px
}
.cart-table .tf-1 LI EM {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.cart-table .tf-2 LI EM {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.cart-table TFOOT TD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-TOP: 14px; BORDER-RIGHT-WIDTH: 0px
}
.cart-table .tf-2 LI {
	TEXT-ALIGN: right
}
.cart-table .tf-2 SPAN {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: 400; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.cart-table .tf-2 .total EM {
	FONT-WEIGHT: 700; FONT-SIZE: 18px; COLOR: #c00
}
.cart-table .tf-3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.cart-table .tf-4 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 4px; PADDING-BOTTOM: 3px; PADDING-TOP: 4px; TEXT-ALIGN: right
}
.cart-table .tf-4 BUTTON {
	FLOAT: right
}
.submit-form BUTTON.offwhite {
	MARGIN-RIGHT: 10px
}