#set($layout = "layout/default.vm")
#set($title = "友情链接管理 - 新增友情链接")
	<div class="main">
		<div class="formBox">
				<h3><i></i><span>新增友情链接</span></h3>
	<div class="content">
		<form __unmht_action="#" name="theForm"  action="/shop/addfl.html" method="post" enctype="multipart/form-data">
			<table id="general-table" width="100%">
			<tbody>
				<div class="form">
				<ol>
				         <li>
			<label>名称：</label>
			<span class="con">
					<ul>
              <li>#springBind("friendLink.linkName")
					<input  type="text"  id="linkName" name="${status.expression}"  value="$!{friendLink.linkName}" />
				</li>
						<li><em>*</em></li>
				<li>
                <label class="red">${status.errorMessage}</label>
				</li>
            </ul>
            </span>
          </li>
  <li>
			<label>URL：</label>
			<span class="con">
					<ul>
              <li>#springBind("friendLink.linkUrl")
					<input  type="text" size="30"  id="linkUrl" name="${status.expression}"  value="$!{friendLink.linkUrl}" />
				</li>
						<li><em>*</em></li>
				<li>
                <label class="red">${status.errorMessage}</label>
				</li>
            </ul>
            </span>
          </li>
		  <li>
			<label>图片：</label>
				<span class="con">
					<ul>
              <li><input type="file" name="images" id="images" size="35" />
				</li>
						<li><em>*</em></li>
				<li>
					#springBind("friendLink.linkLogo")
					<label class="red">${status.errorMessage}</label>
				</li>
            </ul>
            </span>
          </li>
		</table></form></div>
  <div class="form-but">
	<input class="btn" value="确定" type="submit" onClick="javascript:addfriendlink();"> <input class="btn" value="重置" type="reset" onClick="javascript:resetfl();"> <input value="insert" name="act" type="hidden"> <input name="id" type="hidden">
</div></tbody></div></div>
<script language="javascript" type="text/javascript">
	function addfriendlink(){
	var pi=document.getElementById("images").value;
	if(pi==""){
				alert("上传文件不能为空！");
    			   return false;
				   }
	document.theForm.submit();
	}

	function resetfl(){
	document.theForm.reset();
	}
</script>
