#set($layout = 'layout\default.vm')
<head>
	<link rel="stylesheet" type="text/css"  href="${ctx}/styles/${appConfig.get('csstheme')}/std_notice.css" />
</head>

<script language="javascript" type="text/javascript">

var objCityList = new Array();
var objDistincList = new Array();
var j=0;
var i=0;
#foreach($objCity in $cityList)
objCityList[j] = new Array("$!{objCity.code}","$!{objCity.parentCode}","#direct($!{objCity.regionName})");
 j++;
#end

#foreach($objDistinc in $distincList)
objDistincList[i] = new Array("$!{objDistinc.code}","$!{objDistinc.parentCode}","#direct($!{objDistinc.regionName})");
 i++;
#end

var count=j;
var num=i;

function selectCity(code){
	var obj = document.getElementById("city");
	var length = obj.length = 0;
    obj.options[length] = new Option();
 	for(var m=0; m<count; m++){
		if(length == 0){
			obj.options[length] = new Option("请选择", "");
			length++;
		}
    	else{
        	if( objCityList[m][1] == code){
        		obj.options[length] = new Option(objCityList[m][2], objCityList[m][0]);
    			length++;
        	}
		}
	}
	var obj2 = document.getElementById("district");
	var length2 = obj2.length = 0;
	obj2.options[length2] = new Option("请选择", "");

}

function selectDistinc(code){
	var obj = document.getElementById("district");
	var length = obj.length = 0;
    obj.options[length] = new Option();
 	for(var m=0; m<num; m++){
		if(length == 0){
			obj.options[length] = new Option("请选择", "");
			length++;
		}
    	else{
    		if( objDistincList[m][1] == code){
        		obj.options[length] = new Option(objDistincList[m][2], objDistincList[m][0]);
    			length++;
        	}
		}
	}


}



</script>
#set($title = "店铺信息设置")
	<div class="main">
		<div class="formBox">
				<h3><i></i><span>店铺信息设置</span></h3>
						  <div class="content">
		<form __unmht_action="#" name="theForm" action="/shop/updatesi.html" method="post" enctype="multipart/form-data">
			<input name="shopInfo.id" type="hidden"  value="$!{shopInfo.id}" />
			<input name="userAddress.id" type="hidden"  value="$!{userAddress.id}" />
			<input name="shopInfo.shopLogo" type="hidden"  value="$!{shopInfo.shopLogo}" />
			#if($message=="y")
	<div class="mag-t2">
     <label class="red">修改成功！</label>
    </div>
#end
			<table class="c2" id="general-table" width="100%">
            <tbody>
    			<div class="form">
				<ol>
          <li>
    					<label>店铺名称：</label>
    				<span class="con">
					<ul>
              <li> #springBind("shopInfo.shopName")
                <input name="${status.expression}" type="text" id="shopName" value="$!{shopInfo.shopName}" />
			  </li>
            </ul>
            </span>
          </li>
<li>
            <label>店铺标题：</label>
            <span class="con">
            <ul>
				<li>#springBind("shopInfo.shopTitle")
					<input id="shopTitle" size="35" name="${status.expression}" type="text" size="30" value="$!{status.value}" >
				</li>
				<li><em>*</em></li>
				<li>
                <label class="red">${status.errorMessage}</label>
              </li>
				</ul>
				   </span>
          </li>
<li>
			<label>店铺Logo：</label>
				<span class="con">
					<ul>
              <li>#if($!{shopInfo.shopLogo} && $!{shopInfo.shopLogo}!='')<img src="${upServer}/$!{shopInfo.shopLogo}"/> #end <br/><input name="images" id="images" size="30" type="file"/>
				</li>
				<li>
					#springBind("shopInfo.shopLogo")
					 <label class="red">${status.errorMessage}</label>
				</li>
            </ul>
            </span>
          </li>
          <li>
			<label>店铺描述：</label>
			<span class="con">
					<ul>
              <li>#springBind("shopInfo.shopDesc")
					<textarea id="shopDesc" name="${status.expression}"  value="$!{status.value}" rows="5"/>$!{shopInfo.shopDesc}</textarea>
				</li>
				<li>
                <label class="red">${status.errorMessage}</label>
				</li>
            </ul>
            </span>
          </li>
          <li>
			<label>省份：</label>
				<span class="con">
					<ul>
              <li>#springBind("shopInfo.province")
					<select id="province" tabindex="8" name="${status.expression}" onchange="selectCity(this.value);">
						<option>请选择</option>
                        #foreach($province in $provinceList)
							<option value="$!{province.code}" #if($!{userAddress.province}==$!{province.code}) selected #end>$!{province.regionName}</option>
						#end
					</select>
					</select></li>
				<li>
                <label class="red">${status.errorMessage}</label>
				</li>
            </ul>
            </span>
          </li>
        <li>
			<label>城市：</label>
				<span class="con">
					<ul>
              <li>#springBind("shopInfo.city")
					<select id="city" tabindex="9" value="1" name="${status.expression}" onchange="selectDistinc(this.value);">
						<option>请选择</option>
                        #foreach($city in $cityListInit)
							<option value="$!{city.code}" #if($!{userAddress.city}==$!{city.code}) selected #end>$!{city.regionName}</option>
						#end
					</select>
					</select></li>
				<li>
                <label class="red">${status.errorMessage}</label>
				</li>
            </ul>
            </span>
          </li>
        <li>
			<label>市、县级市、县：</label>
				<span class="con">
					<ul>
              <li>#springBind("shopInfo.district")
					<select id="district" tabindex="10" name="${status.expression}">
						<option>请选择</option>
                        #foreach($district in $distincListInit)
							<option value="$!{district.code}" #if($!{userAddress.district}==$!{district.code}) selected #end>$!{district.regionName}</option>
						#end
					</select>
					</select></li>
				<li>
                <label class="red">${status.errorMessage}</label>
				</li>
            </ul>
            </span>
          </li>
          <li>
			<label>地址：</label>
			<span class="con">
					<ul>
              <li>#springBind("shopInfo.address")
                <input name="${status.expression}" type="text" value="$!{userAddress.address}" />
				</li>
				<li>
                <label class="red">${status.errorMessage}</label>
				</li>
            </ul>
            </span>
          </li>
          <li>
			<label>QQ号：</label>
			<span class="con">
					<ul>
              <li>#springBind("shopInfo.qq")
                <input name="${status.expression}" type="text" value="$!{shopInfo.qq}" />
				</li>
				<li>
                <label class="red">${status.errorMessage}</label>
				</li>
            </ul>
            </span>
          </li>
		   <li>
			<label>旺旺：</label>
			<span class="con">
					<ul>
              <li>#springBind("shopInfo.ww")
                <input name="${status.expression}" type="text" value="$!{shopInfo.ww}" />
				</li>
				<li>
                <label class="red">${status.errorMessage}</label>
				</li>
            </ul>
            </span>
          </li>
		   <li>
			<label>Yahoo Message：</label>
			<span class="con">
					<ul>
              <li>#springBind("shopInfo.ym")
                <input name="${status.expression}" type="text" value="$!{shopInfo.ym}" />
				</li>
				<li>
                <label class="red">${status.errorMessage}</label>
				</li>
            </ul>
            </span>
          </li>
           <li>
			<label>MSN：</label>
			<span class="con">
					<ul>
              <li>#springBind("shopInfo.msn")
                <input name="${status.expression}" type="text" value="$!{shopInfo.msn}" />
				</li>
				<li>
                <label class="red">${status.errorMessage}</label>
				</li>
            </ul>
            </span>
          </li>
           <li>
			<label>E-mail：</label>
			<span class="con">
					<ul>
              <li>#springBind("shopInfo.email")
                <input name="${status.expression}" type="text" value="$!{shopInfo.email}" />
				</li>
				<li>
                <label class="red">${status.errorMessage}</label>
				</li>
            </ul>
            </span>
          </li>
           <li>
			<label>联系电话：</label>
			<span class="con">
					<ul>
              <li>#springBind("shopInfo.phone")
                <input name="${status.expression}" type="text" value="$!{shopInfo.phone}" />
				</li>
				<li>
                <label class="red">${status.errorMessage}</label>
				</li>
            </ul>
            </span>
          </li>
           <li>
			<label>服务热线：</label>
			<span class="con">
					<ul>
              <li>#springBind("shopInfo.serviceTel")
                <input name="${status.expression}" type="text" value="$!{shopInfo.serviceTel}" />
				</li>
				<li>
                <label class="red">${status.errorMessage}</label>
				</li>
            </ul>
            </span>
          </li>
           <li>
			<label>商家交易账号：</label>
			<span class="con">
					<ul>
              <li>#springBind("shopInfo.receiveAccount")
                <input name="${status.expression}" type="text" value="$!{shopInfo.receiveAccount}" />
				</li>
				<li>
                <label class="red">${status.errorMessage}</label>
				</li>
            </ul>
            </span>
          </li>
		  </table></form></div>
  <div class="form-but">
	<input class="btn" value="确定" type="button" onclick="javascript:updateshopinfo();"> <input class="btn" value="重置" type="reset" onclick="javascript:resetShopInfo();"> <input value="insert" name="act" type="hidden"> <input name="id" type="hidden">
</div></tbody></div></div>
<script language="javascript" type="text/javascript">

	function updateshopinfo(){
		document.theForm.submit();
	}

	function resetShopInfo(){
	document.theForm.reset();
	}
</script>