#set($layout = "layout/default.vm")
<head>
  #set($title = "尚上后台管理系统")
</head>
	<div class="main">
    	 <h2>C客户端职务管理</h2>
		#set($message = $request.getParameter('message'))
		#if($!message)
        <div class="mag-t2">
			#if($!message && $!message == "insertrolesuccess")
		                  新增角职务成功！
	        #elseif($!message && $!message == "modifyrolesuccess")
			       编辑职务成功！
			#elseif($!message && $!message == "modifypersuccess")
			       设置权限成功！
			#end
        </div>
		#end
		
		#if($!adminAccess.has("A_ROLE_ADD_USER"))
       <div class="tool">
            <span><a href="/role/addRole.html?type=client" hidefocus="true" class="bt_add">新增</a></span>
        </div>
		#end

        <div class="clear"></div>


        <!-- 列表模块 -->
        <div class="listBox">
          <h3><span>职务管理</span></h3>
            <table >
                <tr>
                    <th>名称</th>
                    <th>描述</th>
                    ##<th>部门</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
				#if($clientRoles && $clientRoles.size() > 0)
				 #foreach($role in $clientRoles)
                 <tr #if($velocityCount%2 == 0) class="bg" #end>
						
                    <td style="text-align:center;">$!{role.name}</td>
                	<td style="text-align:center;">$!{role.display}</td>
					##<td style="text-align:center;">$!{role.department.name}</td>
                    <td style="text-align:center;">
						#if("$!{role.status}" == "1")
							正常
						#else
							禁用
						#end
					</td>
                    <td style="text-align:center;">
						#if($!adminAccess.has("A_ROLE_MODIFY_USER"))
						<a href="$appServer/role/editRole.html?id=$!{role.id}&type=client">编辑</a>
						#end
						<a href="$appServer/role/clientRoleAuthorityList.html?id=$!{role.id}">权限</a>
					</td>
                 </tr>
				 #end
                #end
            </table>

	#if($clientRoles.size()  == 0)
		没有结果！
    #end

        </div> <!-- 列表模块 END -->


    </div>