#set($layout = "layout/default.vm")
<head>
  #set($title = "尚上后台管理系统")
</head>
<div class="main">
#set($message = $request.getParameter('message'))
 #if($!message)
 <div class="mag-t2">
	#if($!message && $!message == "modifysuccess")
	      您的密码已成功更改 ！
	#end
 </div>
 #end
  <div class="formBox">
    <!-- 表单模块 -->
    <form name="form1" id="form1" action="$appServer/admin/modifyUserPassword.html" method="post">
      #springBind("admin.id")
      <input name="${status.expression}" type="hidden" class="inp" value="$!{status.value}" />
      <h3><i></i><span>修改密码</span></h3>
      <div class="content">
        <table class="c4">
          <tr>
            <th>原密码：</th>
            <td> #springBind("admin.currentlypwd")
              <input name="${status.expression}" type="password" class="inp" value="" maxlength="20"/>
              <span class="red">*</span> <span class="error">$!{status.errorMessage}</span> </td>
          </tr>
          <tr>
            <th>密码：</th>
            <td>#springBind("admin.password")
              <input type="password" class="inp"  name="${status.expression}" value="" maxlength="20"/>
              <span class="red">*</span> <span>密码由6-16个字符组成</span> <span class="error">$!{status.errorMessage}</span> </td>
          </tr>
          <tr>
            <th>密码确认：</th>
            <td>#springBind("admin.confirmPassword")
              <input type="password" class="inp" name="${status.expression}" value="" maxlength="20"/>
              <span class="red">*</span><span class="error">$!{status.errorMessage}</span></td>
          </tr>
        </table>
      </div>
      <!-- 表单按钮区 -->
      <div class="form-but">
        <button type="button" class="button-s4" onclick="submitForm();">修改</button>
		<button type="button" class="button-s4" onclick="javascript:history.back(-1);">取消</button>
      </div>
      <!-- 表单按钮区 END -->
    </form>
    <!-- 表单模块 END -->
  </div>
</div>
<script language="javascript" type="text/javascript">
function submitForm() {
	if(confirm('确认修改吗？')) {
        document.form1.submit();
	}
}
</script>
