#set($layout = "layout/default.vm")
#set($title = "采购管理 - 采购验收管理")

<div class="main">
<h2>采购管理 - 采购验收管理</h2>

<center>
		<div id="result" style="color:red;">$!message</div>
	</center>

  <form action="$appServer/stock/stock_search.html" name="searchForm" id="searchForm" method="post">
	<input type="hidden" name="status" id="status" value="$!shoppingListQuery.status"/>
	<input type="hidden" name="isCheck" id="isCheck" value="$!isCheck"/>
	<div class="searchBox">
		<h3><span>搜索采购单</span></h3>
		<table >
			<tr>
				<th>采购订单号：</th>
                <td>
					<input type="text" name="shoppingNum" id="shoppingNum" value="$!{shoppingListQuery.shoppingNum}" size="15" theme="simple" maxlength="30"  />
				</td>
				<th>供应商：</th>
				<td >
					<input type="text" name="supplierName" id="supplierName" value="$!{shoppingListQuery.supplierName}" readonly/>
					<input type="hidden" name="supplierId" id="supplierId" value="$!{shoppingListQuery.supplierId}"/>
					<input type="button" value="选择供应商" class="button" onclick="sesp();"/>
					<input type="button" value="清空" class="button" onclick="clearSupplier();"/>
                </td>
            </tr>
			<tr >
            	<th>合同编号：</th>
				<td >
					<input type="text" name="primitiveNum" id="primitiveNum" value="$!{shoppingListQuery.primitiveNum}" size="15" theme="simple" maxlength="30"  />
                </td>
				<br/>
				<th>创建人：</th>
				<td >
					<select name="creater" id="creater" >
						<option value="">-=请选择=-</option>
						#foreach($userInfo in $userList)
							<option value="$!{userInfo.userName}" #if("$!{shoppingListQuery.creater}" == "${userInfo.userName}") selected="true" #end>$!{userInfo.userName}</option>
						#end
					</select>
                </td>
			</tr>

			<tr >
    			<th>库存类型：</th>
    			<td >
    				<select name="storType" id="storType" theme="simple">
						<option value="">-=请选择=-</option>
						#foreach($s in $storTypeMap.entrySet())
							<option value="$!{s.key}" #if($!{shoppingListQuery.storType} == ${s.key}) selected="true" #end>$!{s.value}</option>
						#end
                    </select>
                </td>
    			<th>订单类型：</th>
    			<td >
    				<select name="isWholesale" id="isWholesale" list="enumStockTypeMap" "listKey=key" listValue="value" "theme=simple" "headerKey=" headerValue="全部"  >
						<option value="">-=请选择=-</option>
						#foreach($s in $stockTypeMap.entrySet())
							<option value="$!{s.key}" #if($!{shoppingListQuery.isWholesale} == ${s.key}) selected="true" #end>$!{s.value}</option>
						#end
                    </select>
                </td>
            </tr>
			<tr >
    			<th>采购时间：从</th>
    			<td >
    				<input type="text" name="shoppingTimeStart" id="shoppingTimeStart" value="$!shoppingListQuery.shoppingTimeStart" size="10" theme="simple" readonly="true" />
                </td>
    			<th>采购时间：到</th>
    			<td >
    				<input type="text" name="shoppingTimeEnd" id="shoppingTimeEnd" value="$!shoppingListQuery.shoppingTimeEnd" size="10" theme="simple" readonly="true" />
                </td>
        		  <script type="text/javascript">
        		      Calendar.setup({
        		          inputField : "shoppingTimeStart",
        		          ifFormat   : "%Y-%m-%d",
        		          align      : "BR"
        		      });
        		      Calendar.setup({
        		          inputField : "shoppingTimeEnd",
        		          ifFormat   : "%Y-%m-%d",
        		          align      : "BR"
        		      });
        		</script>
            </tr>
			<tr >
    			<th>预期到货时间：从</th>
    			<td >
    				<input type="text" name="arriveTimeStart" id="arriveTimeStart" value="$!shoppingListQuery.arriveTimeStart" size="10" theme="simple" readonly="true")
                </td>
    			<th>预期到货时间：到</th>
    			<td >
    				<input type="text" name="arriveTimeEnd" id="arriveTimeEnd" value="$!shoppingListQuery.arriveTimeEnd" size="10" theme="simple" readonly="true")
                </td>
        		  <script type="text/javascript">
    			      Calendar.setup({
    			          inputField : "arriveTimeStart",
    			          ifFormat   : "%Y-%m-%d",
    			          align      : "BR"
    			      });
    			      Calendar.setup({
    			          inputField : "arriveTimeEnd",
    			          ifFormat   : "%Y-%m-%d",
    			          align      : "BR"
    			      });
    			</script>
            </tr>
			<tr>
				<th></th>
                <td>
					<input type="button" value=" 查询 " class="button"  onclick="formSubmit();"/>
				</td>
				<th></th>
				<td >
					<input type="button" value="Excel导出" class="button" onclick="doExport();"/>
                </td>
            </tr>
        </table>
    </div>
  </form>
<center >
	<div id="result" style="color:red;">
		#if($!message =="notright")所选采购单状态已经改变!#end
    </div>
</center>
<!-- 订单列表 -->
<div class="clearing"></div>
  <div class="listBox" id="listDiv">
    <table  id="listTable" name="listTable"  class="list-table">
      <tr>
        <th>采购订单号</th>
        <th>供应商名称</th>
        <th>采购时间</th>
        <th>预期到货时间</th>
		<th>实际到货时间</th>
        <th>合同编号</th>
        <th>订单状态</th>
		<th>订单类型</th>
        <th>创建人</th>
		<th>库存类型</th>
		<th>操作</th>
      </tr>
      #foreach($shopping in $query.items)
	  <tr #if($velocityCount%2==0) class="bg" #end>
        <td  align="left">$!shopping.shoppingNum</td>
		<td  align="left">&nbsp;$!shopping.supplierName</td>
        <td  align="center">&nbsp;$!dateUtil.convertDateToString("yyyy-MM-dd",$!shopping.shoppingTime)&nbsp;</td>
		<td  align="center">&nbsp;$!dateUtil.convertDateToString("yyyy-MM-dd",$!shopping.arriveTime)&nbsp;</td>
		<td  align="center">&nbsp;$!dateUtil.convertDateToString("yyyy-MM-dd",$!shopping.factArriveTime)&nbsp;</td>
        <td  align="left"> &nbsp;$!shopping.primitiveNum</td>
        <td  align="center">&nbsp;$!stockStatusMap.get("${shopping.status}")</td>
		<td  align="center">&nbsp;$!stockTypeMap.get("${shopping.isWholesale}")</td>
        <td  align="left">&nbsp;$!shopping.creater</td>
		<td  align="center">&nbsp;$!storTypeMap.get("${shopping.storType}")</td>
		<td  align="center"><a href="$appServer/stock/stock_check_page.html?type=check&stockId=$!{shopping.id}">验收</a></td>
      </tr>
	  #end
    </table>
    <!-- 分页 -->
	#if($query.items.size()>0)
		$contain.get('/contain/formPageSlider.html').put('slider_query',$query).put('slider_target',"/stock/stock_search.html?isCheck=true").put('slider_path','/contain/formPagingPageSlider').put("slider_width",3)
    #else
		没有结果！
    #end

  </div>

</div>
<script language="javascript" type="text/javascript">
	function sesp(){
     	var ret = window.showModalDialog("$appServer/supplier/supplier_select.html",null,"dialogWidth:1000px;dialogHeight:600px;help:no;status:no");
      	if(ret){
			document.getElementById('supplierId').value=ret.id;
			document.getElementById('supplierName').value=ret.name;
		}else{
			document.getElementById('supplierId').value="";
			document.getElementById('supplierName').value="";
		}
    }
	function doExport(){
		var form1=document.forms[0];
		form1.action="$appServer/stock/export_shopping_list.html";
		form1.submit();
		form1.action="$appServer/stock/stock_search.html";
	}

	String.prototype.trim = function() {
    	// 用正则表达式将前后空格
    	// 用空字符串替代。
    	return this.replace(/(^\s*)|(\s*$)/g, "");
	}
		function formSubmit(){
			var dateStart1=document.getElementById("shoppingTimeStart").value.replace(/-/g, "/");
    		var dateEnd1=document.getElementById("shoppingTimeEnd").value.replace(/-/g, "/");
    		var b_date1=new Date(Date.parse(dateStart1));
            var e_date1=new Date(Date.parse(dateEnd1));

			var dateStart2=document.getElementById("arriveTimeStart").value.replace(/-/g, "/");
    		var dateEnd2=document.getElementById("arriveTimeEnd").value.replace(/-/g, "/");
    		var b_date2=new Date(Date.parse(dateStart2));
            var e_date2=new Date(Date.parse(dateEnd2));

    		if(e_date1 < b_date1){
    			alert("采购起始时间不能大于结束时间！");
    			return false;
    		}
			if(e_date2 < b_date2){
    			alert("预期到货起始时间不能大于结束时间！");
    			return false;
    		}

	    	document.getElementById("shoppingNum").value=document.getElementById("shoppingNum").value.trim();
			document.getElementById("supplierId").value=document.getElementById("supplierId").value.trim();
			document.getElementById("primitiveNum").value=document.getElementById("primitiveNum").value.trim();
			document.getElementById("creater").value=document.getElementById("creater").value.trim();
			document.getElementById("status").value=document.getElementById("status").value.trim();
	    	document.getElementById("shoppingTimeStart").value=document.getElementById("shoppingTimeStart").value.trim();
	    	document.getElementById("shoppingTimeEnd").value=document.getElementById("shoppingTimeEnd").value.trim();
			document.getElementById("arriveTimeStart").value=document.getElementById("arriveTimeStart").value.trim();
	    	document.getElementById("arriveTimeEnd").value=document.getElementById("arriveTimeEnd").value.trim();

        	document.forms[0].submit();
	    }

		function clearSupplier(){
			document.getElementById("supplierId").value="";
			document.getElementById("supplierName").value="";
	    }
</script>
