#set($layout = 'layout\default.vm')

<div class="main">
	<h2>CRM系统 - 客户销售排行 </h2>
	<!-- 搜索模块 -->
	<div class="searchBox">
		<h3><span>搜索客户销售排行</span></h3>
		<form action="crmCustomerRank.html" name="searchForm" id="searchForm" method="post">
			<table>
				<tr>
					<th>客户名称：</th>
					#springBind("crmCustomerRankQuery.customerName")
					<td><input  type="text" id="customerName"  name="${status.expression}" value="$!{status.value}" /></td>
					<th>统计时间：从</th>
					<td>
						#springBind("crmCustomerRankQuery.gmtOptTimeStart")
						<input type="text" id="gmtOptTimeStart" name="${status.expression}" value="$!{status.value}" size="8" readonly="true"/>
						到
						#springBind("crmCustomerRankQuery.gmtOptTimeEnd")
						<input type="text" id="gmtOptTimeEnd" name="${status.expression}" value="$!{status.value}" size="8" readonly="true"/>
						<script type="text/javascript">
        			      Calendar.setup({
        			          inputField : "gmtOptTimeStart",
        			          ifFormat   : "%Y-%m-%d",
        			          align      : "BR"
        			      });
        			      Calendar.setup({
        			          inputField : "gmtOptTimeEnd",
        			          ifFormat   : "%Y-%m-%d",
        			          align      : "BR"
        			      });
        				</script>
					</td>
					<th>&nbsp;</th>
					<td>
						<input type="button" class="btn" value=" 查询  "  onclick="formSubmit();"/>
					</td>	
				</tr>
			</table>
        </form>
  	</div>

	<!-- 订单列表 -->
	<div class="listBox"> 
		<table>
			<tr>
				<th>销售排名</th>
                <th>注册ID</th>
                <th>所属区域</th>
                <th>累计成交订单</th>
                <th>累计支付金额</th>
                <th>累计退货金额</th>
        		<th>联系电话</th>
                <th>店铺等级</th>
        		<th>会员等级</th>
                <th>操作</th>
			</tr>
			#foreach($userSales in $query.items)
				<tr>
					<td  align="center">&nbsp;第$userSales.rankNum 名</td>
					<td  align="center">&nbsp;$!userSales.account</td>
					<td  align="center">&nbsp;$!userSales.area</td>
					<td  align="center">&nbsp;$!userSales.tradeNum</td>
					<td  align="center">&nbsp;$!userSales.salesAmount</td>
					<td  align="center">&nbsp;$!userSales.refundAmount</td>
					<td  align="center">&nbsp;$!userSales.phone</td>
					<td  align="center">&nbsp;
						#if($!userSales.shopTYRank)
							$!tbYoua.get($!userSales.shopTYRank)
						#elseif($!userSales.shopPYRank)
							$!presgtige.get($!userSales.shopPYRank)
						#end
					</td>
					<td  align="center">&nbsp;$!enumUserType.get($!userSales.userType)</td>
					<td align="center">
						<a href="$appServer/crm/crmUserTradeDetail.html?userId=$!userSales.userId&dataStart=$!crmCustomerRankQuery.gmtOptTimeStart&dataEnd=$!{crmCustomerRankQuery.gmtOptTimeEnd}">查看</a>
					</td>
				</tr>
			#end
		</table>
		<!-- 分页 -->
		<div class="pages-box" >
			#if($query.items.size()>0)
				$contain.get('/contain/formPageSlider.html').put('slider_query',$query).put('slider_target',"/crm/crmCustomerRank.html").put('slider_path','/contain/formPagingPageSlider').put("slider_width",3)
			#else
				没有结果！
			#end
		</div>
	</div>
</div>
<script language="javascript" type="text/javascript">	
	String.prototype.trim = function() {
    	// 用正则表达式将前后空格
    	// 用空字符串替代。
    	return this.replace(/(^\s*)|(\s*$)/g, "");
	}
	
    function formSubmit(){
			var dateStart1=document.getElementById("gmtOptTimeStart").value.replace(/-/g, "/");
    		var dateEnd1=document.getElementById("gmtOptTimeEnd").value.replace(/-/g, "/");
    		var b_date1=new Date(Date.parse(dateStart1));
            var e_date1=new Date(Date.parse(dateEnd1));

    		if(e_date1 < b_date1){
    			alert("统计起始时间不能大于结束时间！");
    			return false;
    		}

	    	document.getElementById("customerName").value=document.getElementById("customerName").value.trim();
        	document.forms[0].submit();
	 }
</script>
