#set($layout = "layout/default.vm")

<div class="main">
	<h2>买家帐户管理 - 新注册用户</h2>

<form id="form1" name="form1" action="crmRegusers.html" method="post" onsubmit="doSubmit();">
    <input type="hidden" id="isHasAgentManager" name="isHasAgentManager" value="$!{user.isHasAgentManager}"/>
	<input type="hidden" id="apply_stauts" name="apply_stauts" value="$!{user.apply_stauts}"/>
    <div class="searchBox">
		<h3><span>搜索用户</span></h3>
		<table >
			<tr>
				<th>用户名：</th>
                <td>
					<input type="text" id="user_account" name="account" value="$!user.account"/>
				</td>
				<th>E-mail：</th>
				<td >
					<input type="text" id="user_email" name="email" value="$!user.email"/>
                </td>
            </tr>

			<tr>
				<th>真实姓名：</th>
                <td>
					<input type="text" id="realName" name="realName" value="$!user.realName"/>
				</td>
				<th>状态：</th>
				<td >
					<select name="stauts" id="status">
    					<option value="">-=请选择=-</option>
    					<option value="1" #if("$user.stauts"=="1")  selected #end>正常使用</option>
    					<option value="2" #if("$user.stauts"=="2")  selected #end>冻结</option>
						<option value="0" #if("$user.stauts"=="0")  selected #end>未激活</option>
    				</select>
                </td>
            </tr>

			<tr>
				<th>主营类目：</th>
                <td>
					<select name="catCode" id="catCode" style="width:100px;">
        				<option value="">-=请选择=-</option>
        				#foreach($cat in $catList)
							<option value="$cat.catCode" #if("$cat.catCode"==$user.catCode) selected #end>$cat.catName</option>
        				#end
        			</select>
				</td>
				<th>会员类型：</th>
				<td >
					<select name="type" id="type">
    				<option value="">-=请选择=-</option>
        			<option value="d" #if($user.type=="d")  selected #end>代销</option>
        			<option value="p" #if($user.type=="p")  selected #end>普通</option>
                    </select>
                </td>
            </tr>

			<tr>
				<th></th>
                <td>
					<input type="submit" value="查询" class="button"/>
				</td>
				<th></th>
				<td >
                </td>
            </tr>
		</table>
	</div>
</form>
<center ><div id="result" style="color:red;">$!message</div></center>
#set($applyStauts=${user.apply_stauts})
<div class="tab-div">
    <div id="tabbar-div">
        <p>
			<ul class="form-tab">
                <li #if($user.apply_stauts =="init") class="c" #end><span><a onclick="javascript:tabSubmit('init')">审核中</a></span></li>
                <li #if($user.apply_stauts =="fail") class="c" #end><span><a  onclick="javascript:tabSubmit('fail')">审核不通过</a></span></li>
                <li #if($user.apply_stauts =="success") class="c" #end><span><a onclick="javascript:tabSubmit('success')">审核通过</a></span></li>
			    <li #if($user.apply_stauts =="all") class="c" #end><span><a onclick="javascript:tabSubmit('all')">全部</a></span></li>
            </ul>
        </p>
    </div>
<div class="listBox" id="listDiv">
	<table >
		<tbody>
			<tr>
			<th width="10%">
				用户名
			</th><th width="10%">
				真实姓名
			</th><th width="15%">
				email
			</th><th width="5%">
				性别
			</th><th width="10%">
				注册时间
			</th>
			<th width="5%">
			代销
			</th>
			<th>
			主营类目
			</th>
			#if("${applyStauts}"=="success" && $!adminAccess.has("A_CRM_USER_MODIFY_EXPAND_USER"))
			<th width="5%">
			维护人
			</th>
			#end
			<th width="10%">
				最后登录时间
			</th><th width="5%">
				状态
			</th><th width="8%">
				操作
			</th></tr>
				#foreach($user in $query.items)
					<tr>
					<td>
						<a href="crmUserDetail.html?userId=$!user.id">$!user.account</a>
					</td><td>
						$!user.realName
				    </td><td>
						$!user.email
					</td><td align="center">
						#if($user.sex==0)
							保密
						#elseif($user.sex==1)
							女
						#else
							男
						#end
					</td><td align="center">
						$date.format('yyyy-MM-dd',$!{user.gmtCreate})
					</td>
					<td align="center">
					#if($user.type=="d")
						是
                    #else
                                                               否
					#end
					</td>
					<td>
						#if($user.taobaoMainBusiness)
							$!controlUtil.getNoticesTitle($!categoryManager.getCatFullNameByCatcode($user.taobaoMainBusiness),20)|
						#end
						#if($user.paipaiMainBusiness)
							$!controlUtil.getNoticesTitle($!categoryManager.getCatFullNameByCatcode($user.paipaiMainBusiness),20)|
						#end
						#if($user.youaMainBusiness)
							$!controlUtil.getNoticesTitle($!categoryManager.getCatFullNameByCatcode($user.youaMainBusiness),20)|
						#end
						#if($user.ebayMainBusiness)
							$!controlUtil.getNoticesTitle($!categoryManager.getCatFullNameByCatcode($user.ebayMainBusiness),20)|
						#end
						#if($user.otherMainBusiness)
							$!controlUtil.getNoticesTitle($!categoryManager.getCatFullNameByCatcode($user.otherMainBusiness),20)|
						#end
						#if($user.entityMainBusiness)
							$!controlUtil.getNoticesTitle($!categoryManager.getCatFullNameByCatcode($user.entityMainBusiness),20)|
						#end
						#if($user.selfshopMainBusiness)
							$!controlUtil.getNoticesTitle($!categoryManager.getCatFullNameByCatcode($user.selfshopMainBusiness),20)
						#end
					</td>
					#if("${applyStauts}"=="success" && $!adminAccess.has("A_CRM_USER_MODIFY_EXPAND_USER"))
					<td>
						<select id="agent_manager_id_$!user.id" onchange="doModify($!user.id);">
							<option value="">请选择</option>
                			#foreach($obj in $adminUsers)
                			  <option value="$!obj.id" #if("$!user.agentManagerName"=="$!obj.userName") selected #end>$!{obj.userName}</option>
                			#end
                        </select>
					</td>
					#end
					<td align="center">
						$date.format('yyyy-MM-dd',$!{user.gmtLast})
					</td><td>
						<span id="${user.id}userStatus">
						#if(${user.stauts}==2)
							冻结
						#elseif(${user.stauts}==0)
							未激活
						#else
							正常使用
						#end
						</span>
						<input type="hidden" id="${user.id}statusText" value="${user.stauts}"/>
					</td><td align="center">
						<input id="${user.id}opbutton" name="${user.id}opbutton" type="button" value="#if(${user.stauts}==2) 解冻 #else 冻结 #end" onclick="chooseOperate('$user.id');"/>
					</td></tr>
				#end
		</tbody>
	</table>

    <!-- 分页 -->
	#if($query.items.size()>0)
		$contain.get('/contain/formPageSlider.html').put('slider_query',$query).put('slider_target',"/crm/crmRegusers.html?initFlag=false").put('slider_path','/contain/formPagingPageSlider').put("slider_width",3)
    #else
		没有结果！
	#end

</div>
</div>
</form>
</div>
<script language="javascript" type="text/javascript">
	var statusTextId;
	var opbuttonId;
	var userStatusId;

	function doModify(userId){
        var flag=document.getElementById("agent_manager_id_"+userId).options[0].selected;
        var agentManagerId=document.getElementById("agent_manager_id_"+userId).value

        if(flag){
            alert("请选择维护人");
        } else if(confirm("确定要更换维护人吗？")){
                jQuery.post('crmAgentManagerUpdateByJson.html',{param1:agentManagerId,param2:userId},function(message){
                    if(message.indexOf("success") > -1){
        			   alert("分配维护人成功！");
        		    }else if(message.indexOf("failed") > -1){
        			   alert("分配维护人失败，此用户不存在！");
        		    }
        		},'');
    		}
    }

    function chooseOperate(id){
    	statusTextId=id+"statusText";
		opbuttonId=id+"opbutton";
		userStatusId=id+"userStatus";
    	var status= document.getElementById(statusTextId).value;
		var op;
    	if(status!='2'){
		    op = "freeze";
    	}else if(status=='2'){
    		op = "release";
    	}
		jQuery.post('crmFreezeOrRelease.html',{param1:id,param2:op},function(message){
            if(message.indexOf("freeze") > -1){
			   document.getElementById(opbuttonId).value = " 解冻 ";
			   var userStatus = document.getElementById(userStatusId);
			   userStatus.innerHTML = "冻结";
			   document.getElementById(statusTextId).value = "2";
			   jQuery("#result").html("冻结成功！");
		    }else if(message.indexOf("release") > -1){
			   document.getElementById(opbuttonId).value = " 冻结 ";
			   var userStatus = document.getElementById(userStatusId);
			   userStatus.innerHTML = "正常使用";
			   document.getElementById(statusTextId).value = "1";
			   jQuery("#result").html("解冻成功！");
		    }
		},'');
    }

	function doSubmit(){
		document.getElementById('user_account').value=document.getElementById('user_account').value.trim();
		document.getElementById('user_email').value=document.getElementById('user_email').value.trim();
		document.getElementById('realName').value=document.getElementById('realName').value.trim();
	}

	String.prototype.trim=function()
	{
		return this.replace(/(^\s*)|(\s*$)/g, '');
	}

	function tabSubmit(apply_stauts)
	{

		document.getElementById('isHasAgentManager').value = 'n';
		document.getElementById('apply_stauts').value = apply_stauts;
		document.getElementById('form1').submit();
	}
</script>
